<div class="card-group mt-4 container">
    {{#if hasProduct}}
    {{#each productList}}
    <div class="card p-2" style="width: 18rem;">

        <img src="{{productImage}}" class="card-img-top" alt="{{title}} image">
        <div class="card-body">
            <p>{{_id}}</p>
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <div class="card-footer">
                <a href="/products/product/{{_id}}" class="btn btn-primary">{{title}}</a>
            </div>
        </div>

    </div>
    {{/each}}
    {{/if}}
</div>